.navbar{
  background-color:maroon;
}
.logo{
  width:60px;
  height: auto;
}

  .nav-link{
    border-right: 1.5px solid red;
    padding: 0;
    margin-left: 5px;
    margin-right: 5px;
   
    
  }
  .last{
    border-right: 0;
  }
  .top-auto{
    top: 90px;
    z-index: 1;
    background:#320000;
}

  .mega{
  
    border:1px solid #320000;
    background:#320000;
    margin:0 !important;
    padding: 0 !important;
    overflow: hidden ;
    z-index: 1;
  }
  .item{
    padding: 5px;
  }
.fa-user{
  font-size: 20px;
  margin:0 10px;
  cursor: pointer;
}

 